.project-card {
  height: 200px;
  cursor: pointer;
  background-color: #f8f9fa;
  color: #333;
  border-radius: 15px !important; /* 更新為更大的圓角 */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  padding: 20px;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.project-card h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.project-card p {
  margin-bottom: 0;
  font-size: 0.9rem;
}