/* 全局樣式 */
.btn,
.form-control,
.card,
.list-group-item,
.navbar {
  border-radius: 15px !important; /* 使用 !important 來確保覆薋 Bootstrap 的默認樣式 */
}

.btn {
  padding: 8px 20px;
}

.card {
  overflow: hidden; /* 確保卡片內容不會超出圓角 */
}

/* 調整輸入框的內邊距，使文字不會太靠近邊緣 */
.form-control {
  padding: 10px 15px;
}

/* 調整列表項的樣式 */
.list-group-item:first-child {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.list-group-item:last-child {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}